@model IEnumerable<DataYachtz.Models.UserCSVModel>
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    @foreach (var user in Model)
    {
        <li>@user.Email (@user.CSV)</li>
    }
</ul>