
@using MVCGrid.Web
@using MVCGrid.Web.Models

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="panel panel-default">
    <div class="panel-body">

        @Html.Partial("_MVCGridToolbar", new MVCGridToolbarModel()
        {
            MVCGridName = "UsageExample",
            PageSize = true,
            ColumnVisibility = true,
            Export = true,
            GlobalSearch = true,
            CSVName = "the CSV file the user clicked on"
        })
        @Html.MVCGrid("UsageExample")
    </div>
</div>